[Desktop Entry]
Type=Application
Version=1.0
Name=Install Univalent
GenericName=Univalent Installer
Keywords=calamares;system;installer;
TryExec=calamares
Exec=sh -c "pkexec calamares"
Comment=Calamares — System Installer
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
X-AppStream-Ignore=true

Name[de]=Univalent installieren
Icon[de]=calamares
GenericName[de]=Installation des Univalent Betriebssystems
Comment[de]=Calamares - Installation des Univalent Betriebssystems
Name[en_GB]=Install Univalent
Icon[en_GB]=calamares
GenericName[en_GB]=Univalent Installer
Comment[en_GB]=Calamares — System Installer
Name[eo]=Instali Univalent
Icon[eo]=calamares
GenericName[eo]=Univalent Instalilo
Comment[eo]=Calamares — Sistema Instalilo
Name[fr]=Installer Univalent
Icon[fr]=calamares
GenericName[fr]=Installateur Univalent
Comment[fr]=Calamares - Installateur Univalent
Name[it_IT]=Installa Univalent
Icon[it_IT]=calamares
GenericName[it_IT]=Programma d'installazione del Univalent
Comment[it_IT]=Calamares — Programma d'installazione del sistema
Name[ja]=Univalentをインストール
Icon[ja]=calamares
GenericName[ja]=Univalentインストーラー
Comment[ja]=Calamares — システムインストーラー
