/*
 * Panel
 */

#panel {
    background:#ff33f4;
    padding: 2px;
    margin: 0px;
}

/*
 * Buttons
 */

QToolButton::menu-indicator {
   image: none;
}

QToolButton {
    margin: 0px;
    border: 0px solid transparent;
    padding: 0px;
    font-size: 10pt;
    color: #DEDEDE;
    qproperty-iconSize: 20px;
}

QToolButton:hover {
    border: 0px solid #fff4ff;
    margin: 1px;
    padding: 1px;

}

#closeButton {
    qproperty-icon: url(lxqt-runner/process-stop.png);
}

#actionButton {
    qproperty-icon: url(lxqt-runner/new-go-down.png);
}

/*
 *Search field
 */

#commandEd {
    border-radius: 4px;
    padding: 0px;
    margin: 0px;
    background: white;
    color: #2D2D2D;
    selection-background-color: #fea5fa;
    selection-color: white;
}

/*
 *Search results list
 */

#commandList {
    border: 1px solid #ff66f7;
}

#commandList::item {
    margin: 2px;
    padding: 2px;
}
